/************************************************** 404 ERROR PAGE ***************************************************/

body                        { background-color: var(--future-black);            }
.container404               { width: 65.0rem; max-width: 100%;                  }
.table404                   { background-color: var(--future-black);            }
.table404 tbody > tr:hover  { background-color: var(--future-black)             }
.img404                     { width: 19.0rem;                                   }
.img404left                 { margin-right: 1.0rem;                             }
.img404right                { margin-left: 1.0rem;                              }
.text404                    { background-color: var(--future-black); border: 0  ;
                              color: var(--future-light); text-align: center    ;
                              overflow: auto; resize: none; height: 14.0rem;    }

/********************************************* 404 ERROR PAGE ON MOBILE **********************************************/

@media (max-width: 992px)                                     {
.img404left   { padding-bottom: 5.0rem;                       }
.img404right  { padding-top: 2.0rem; padding-bottom: 4.0rem;  }
.text404      { height: 15.0rem; font-size: 80%;            } }

/************************************** 404 ERROR PAGE HEADER MENU ALTERATIONS ***************************************/

.header_topbar                  { background-color: var(--future-red);                                       }
.header_topmenu                 { background-color: var(--future-red);                                       }
.header_topmenu_title           { background-color: var(--future-red); color: var(--future-black);           }
.header_topmenu_title:hover     { background-color: var(--future-black); color: var(--future-red);           }
.header_topmenu_title_selected  { color: var(--future-red); background-color: var(--future-black);           }
.header_infobar                 { background-color: var(--future-black);                                     }
.header_infobar:hover           { background-color: var(--future-black);                                     }
.header_submenu                 { background-color: var(--future-black);                                     }
.header_submenu_title           { color: var(--future-light);                                                }
.header_submenu_link            { color: var(--future-red);                                                  }
.header_submenu_link:hover      { color: var(--future-red); filter: drop-shadow(0 0 5px var(--future-red));  }