.admin_menu           { margin-top: -2.3rem;                                        }
.image_preview        { max-width: 18.0rem !important; max-height: 100% !important; }
.image_preview_small  { max-width: 12.0rem !important; max-height: 100% !important; }
.arsenal_preview      { padding-left: 1.0rem; padding-right: 1.0rem;                }
.body_preview         { max-height: 100% !important; max-width: 25.0rem !important; }
.card_cost            { min-width: 12.0rem;                                         }
.card_income          { min-width: 6.0rem;                                          }
.card_action_icons    { min-width: 4.0rem;                                          }
.arsenals_data_icons  { min-width: 9.0rem;                                          }
.image_action_icons   { min-width: 5.0rem;                                          }