# Don't commit the admin password
.htpasswd

# Local config should not be committed
conf/main.conf.php

# Card images shouldn't be stored in the repository
img/rules/*
!img/rules/index.php

# Anything AI generated shouldn't be committed
img/404/*
!img/404/index.php
img/gameplay/*
!img/gameplay/index.php
img/homepage.jpg