ErrorDocument 404 https://futureinvaders.com/404
Options -Indexes

# API
RewriteEngine On
RewriteRule ^api/image/(.*)$ api/image/image.php?uuid=$1 [QSA,NC]
RewriteRule ^api/tag/(.*)$ api/tag/tag.php?uuid=$1 [QSA,NC]