ErrorDocument 404 https://futureinvaders.com/404
Options -Indexes

# API routes
RewriteEngine On
RewriteRule ^api/arsenal/(.*)$ api/arsenal/arsenal.php?uuid=$1 [QSA,NC]
RewriteRule ^api/card/(.*)$ api/card/card.php?uuid=$1 [QSA,NC]
RewriteRule ^api/image/(.*)$ api/image/image.php?uuid=$1 [QSA,NC]
RewriteRule ^api/ruling/(.*)$ api/ruling/ruling.php?uuid=$1 [QSA,NC]
RewriteRule ^api/tag/(.*)$ api/tag/tag.php?uuid=$1 [QSA,NC]

# Cards
RewriteRule ^pages/card/(.*)$ pages/game/card.php?slug=$1 [QSA,NC]

# Arsenals
RewriteRule ^pages/arsenal/(.*)$ pages/game/arsenal.php?slug=$1 [QSA,NC]